{% load static %}
{% load i18n %}

<!doctype html>
<html lang="en">
  <head>
  	<title>Citas</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'history/css/style.css' %}">
  </head>
  <body style='background-color: rgba(236, 239, 241, 0.5);'>
		
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
		  		<a href="#" class="img logo" style="background-image: url('{% static "img/logo.jpg" %}');"></a>
            <div class="p-4 pt-4">                  
	        <ul class="list-unstyled components mb-5">
	          <li class="mb-4 mt-4 text-center">
                <span><i class="fa fa-paw pr-3"></i></span>
                <a href="{% url 'history' %}">Historia</a>
	          </li>
	          <li class="active mb-4 text-center">
                <span><i class="fa fa-calendar pr-3"></i></span>
                <a href="{% url 'meet' %}">Citas</a>
	          </li>
	          <li class="mb-4 text-center">
                <span><i class="fa fa-shopping-bag pr-3"></i></span>
                <a href="#">Tienda</a>
	          </li>	
	        </ul>

	        <div class="footer">
	        </div>

	      </div>
    	</nav>
        <div class="ml-5" style="background-color: #65BA69;">

        </div>
        <!-- Page Content  -->
      <div  style='background-color: white;' id="content" class="p-4 p-md-5">
          <div style="color: #536D79; text-align: center;" class="container-fluid">
            <button class="mb-5 w3-button w3-round-large" href="#" onclick="return abrir_modal('{% url 'new_meet' %}')">Nueva cita<i class="pl-2 fa fa-calendar pr"></i></button>
            <ul class="list-unstyled components mb-2">
                {% for history in histories %}
                <li class="text-center">
                    <div class="mt-3" style="border-bottom-style: groove;">
                    {% if history.service == '1' %}
                      <span><img src="{% static 'img/medical.png' %}" height="30" /></span>
                    {% elif history.service == '2' %}
                      <span><img src="{% static 'img/syringe.png' %}" height="30" /></span>
                    {% elif history.service == '3' %}
                      <span><img src="{% static 'img/deworming.png' %}" height="30" /></span>
                    {% elif history.service == '4' %}
                      <span><img src="{% static 'img/shower.png' %}" height="30" /></span>                      
                    {% elif history.service == '5' %}
                      <span><img src="{% static 'img/cut.png' %}" height="30" /></span>
                    {% endif %}
                    <span class="b pl-4">
                        <div class="pl-4 ml-5">
                            <h6>{{ history.service_type }}</h6>
                        </div>
                        <div>
                            <h6>{{ history.date }}</h6>
                        </div>
                    </span><span class="b"><h6>{{ history.hour }}</h6></span>
                    <span style="display: contents;" class="b">
                    <boton><i href="#" onclick="return abrir_modal('{% url 'delete_meet' history.id %}')" style="float:right; color:rgb(88, 179, 104); padding: 1.3rem 0.2rem 0 0.2rem;" class='fa fa-trash btn'></i></boton><i style="float:right; color:rgb(88, 179, 104); padding: 1.3rem 0.2rem 0 0.2rem;" href="#" onclick="return abrir_modal('{% url 'edit_meet' history.id %}')" class='fa fa-edit btn'></i>
                    </span>
                    </div>
                </li>
                {% endfor %}
            </ul>
          </div>
      </div>
      <div id="popup" class="modal fade" role="dialog">

    <script src="{% static 'history/js/jquery.min.js' %}"></script>
    <script src="{% static 'history/js/popper.js' %}"></script>
    <script src="{% static 'history/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'history/js/main.js' %}"></script>
  </body>
</html>
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script>
function abrir_modal(url)
    {
        $('#popup').load(url, function()
        {
                $(this).modal('show');
        });
        return false;
    }
</script>